.drpFilterGridWrapper {
  height: 25%;
  background: #fff;
  border-radius: 30px;
  padding: 5px 20px;
  box-sizing: border-box;
  border: none;
  margin-bottom: 10px;
  .ag-theme-alpine .ag-row {
    font-size: 11px;
    background-color: #fff;
    color: #000;
    height: 22px !important;
  }
}
