.vsvFilterPanelToggle {
  position: relative;
  position: relative;
  right: 55px;
  top: 20px;
  cursor: pointer;
  height: 30px;
  width: 1px;
}
.vsvFilterPanelToggle p {
  color: #6fabce;
  font-weight: bold;
}
.vsvFilterPanelUnToggle {
  position: relative;
  top: 20px;
  width: 15px;
  height: 647px;
  background: #99bccf;
}
.vsvFilterPanelUnToggleWrapper {
  height: 100%;
  width: 20px;
  cursor: pointer;
  color: black;
  font-weight: bold;
}
.vsvFilterPanelUnToggle p {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  position: relative;
  right: 3px;
  top: 20px;
}

.mtToggleIndicator {
  text-align: center;

  font-weight: bold;
  /* color: white; */
  font-size: 18px;
  text-align: right;
  justify-content: flex-end;
  flex: 1;
  position: relative;
  top: -4px;
  right: 9px;
}
.editDashboardUntoggle {
  background: #99bccf;
  height: 15px;
  width: 98%;
  margin-left: 10px;
  text-align: center;
  display: flex;
}
.editDashboardToggle {
  height: 0px;
  justify-content: flex-end;
  flex: 1;
  display: flex;
  float: right;
  background: red;
  p {
    color: #6fabce;
    float: rigth;
    margin-right: -120px;
    margin-top: 11px;
    font-weight: bold;
    font-size: 21px;
    border: solid 1px red;
    height: 20px;
    width: 860px;
    z-index: 10;
    text-align: right;
    cursor: pointer;
  }
}
