.filtersContianer {
  overflow: scroll;
  min-height: 473px;
  max-height: 480px;

  .peoFiltersWrapper {
    padding-left: 15px !important;

    .peoLabelAndValue {
      width: 100%;
      display: flex;
      padding-top: 10px;
    }

    .peoLabel {
      width: 30%;
    }

    .peoValue {
      width: 60%;

      input[type="textbox"] {
        width: 100%;
      }
    }
  }

  .multiSelectBoxItemsWrapper {
    border: solid 0.5px grey;
    max-height: 100%;
    min-height: 100%;
    width: 100%;
    overflow: scroll;

    .option {
      border-bottom: none;
    }
  }
}