.filtersContianer {
  overflow: scroll;
  min-height: 473px;
  max-height: 480px;

  .peoFiltersWrapper {
    padding-left: 15px !important;
    .peoLabelAndValue {
      width: 100%;
      display: flex;
      padding-top: 10px;
    }
    .peoLabel {
      width: 30%;
    }
    .peoValue {
      width: 60%;
      input {
        width: 100%;
      }
      input[type="checkbox"] {
        width: 5%;
      }
    }
  }
}
