.priceSourceWrapper {
  padding-left: 15px !important;

  .praVendorLabelAndValueWrapper,
  .praExchangeLabelAndValueWrapper {
    width: 100%;
    display: flex;
    padding-top: 10px;
  }
  .praVendorLabel,
  .praExchangeLabel {
    width: 30%;
  }
  .praExchangeValue,
  .praVendorValue {
    width: 60%;
  }
}
