.pvsfProductWrapper {
  padding-left: 15px !important;
  .pvsfLabelAndValue {
    width: 100%;
    display: flex;
    padding-top: 10px;
  }
  .pvsfLabel {
    width: 30%;
  }
  .pvsfValue {
    width: 60%;
    input {
      width: 100%;
    }
    input {
      width: 100%;
    }
  }
}
