.prsFilterPanel {
  width: 32%;
  border: solid 1px red;
  position: relative;
  float: left;
  background: white;
  border-radius: 30px;
  box-sizing: border-box;
  border: none;
  padding: 5px;
  .prsFilterHeaderTitle {
    font-size: 14px;
    font-weight: bold;
    color: #000;
    padding-top: 10px;
    padding-left: 10px;
  }
  .prsFilterAndResetButtonWrapper {
    text-align: center;
    position: absolute;
    bottom: 0;
    display: flex;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
