.ptFilterAndResetButtonWrapper {
  text-align: center;
  position: relative;
}
#ptFilter-container {
  display: inline-block;
  margin-right: 10px !important;
}
#ptReset-container {
  display: inline-block;
}
