.dateRangeAndHistCurrWrapper {
  width: 50%;
  margin-top: 7px;
  margin-left: 12px;

  .labelAndHistCurrWrapper {
    display: flex;
    width: 100%;
    margin-top: 7px;
    margin-left: 12px;
    .currHistLabel {
      width: 30%;
    }
    .currHistValue {
      width: 70%;
    }
  }
}
