.peoFilterAndResetButtonWrapper {
  text-align: center;
  position: absolute;
  display: flex;
  bottom: 13px;
  left: 30%;
}
#peoFilter-container {
  display: inline-block;
  margin-right: 10px !important;
}
#peoReset-container {
  display: inline-block;
}
