.didFiltersWrapper {
  padding-left: 15px !important;
  .didLabelAndValue {
    width: 100%;
    display: flex;
    padding-top: 10px;
  }
  .dateRange {
    display: block !important;
  }
  .didLabel {
    width: 30%;
  }
  .didValue {
    width: 60%;
    input {
      width: 100%;
    }
    input {
      width: 100%;
    }
  }
}
