.dowloadOptionsWrapper {
  width: 50%;
  margin-top: 7px;
  margin-left: 12px;
  .deliveryClassLabelAndValue {
    width: 100%;
    display: flex;
    .deliveryClassLabel {
      width: 28%;
    }
  }
}
