.erFilterAndResetButtonWrapper {
  text-align: center;
  position: absolute;
  display: flex;
  bottom: 13px;
  left: 30%;
}
#erFilter-container {
  display: inline-block;
  margin-right: 10px !important;
}
#erReset-container {
  display: inline-block;
}
