.priceSourceWrapper {
  padding-left: 15px !important;

  .ptVendorLabelAndValueWrapper,
  .ptExchangeLabelAndValueWrapper {
    width: 100%;
    display: flex;
    padding-top: 10px;
  }
  .ptVendorLabel,
  .ptExchangeLabel {
    width: 30%;
  }
  .ptExchangeValue,
  .ptVendorValue {
    width: 60%;
  }
}
