.vsFilterPanelToggle {
  position: relative;
  position: relative;
  right: 55px;
  top: 20px;
  cursor: pointer;
  height: 30px;
  width: 1px;
}
.vsFilterPanelToggle p {
  color: #6fabce;
  font-weight: bold;
}
.vsFilterPanelUnToggle {
  position: relative;
  top: 20px;
  width: 15px;
  height: 647px;
  background: #99bccf;
}
.vsFilterPanelUnToggleWrapper {
  height: 100%;
  width: 20px;
  cursor: pointer;
  color: black;
  font-weight: bold;
}
.vsFilterPanelUnToggle p {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}
