.futuresGridHeader {
  font-size: 14px;
  font-weight: bold;
  color: #000;
  margin-left: 3%;
  border: none;
  margin: 13px !important;
}
.futuresGridTitle {
  font-size: 12px;
  font-weight: bold;
  margin-left: 3%;
  margin: 13px !important;
  background: transparent;
  outline: none;
  border: none;
  color: #439bc1;
  text-decoration: none;
  cursor: pointer;
  font-size: 13px;
}
.messageAndNavigationWrapper {
  display: flex;
  background: transparent;
  outline: none;
  border: none;
  color: #439bc1 !important;
  text-decoration: none;
  cursor: pointer;
  font-size: 13px;
  .close {
    justify-content: flex-end;
    display: flex;
    flex: 1;
    .closeButton {
      background-color: transparent !important;
      color: #439bc1 !important;
    }
  }
}
.futuresHeaderActions {
  display: flex;
  .futuresLeftHeaderSection {
    display: flex;
    .futuresLabelAndValue {
      display: flex;
      padding-top: 10px;
      background: transparent;
      background: transparent;
      outline: none;
      border: none;
      color: #439bc1 !important;
      text-decoration: none;
      cursor: pointer;
      font-size: 13px;
    }
    .futuresLabel {
      //width: 30%;
    }
    .futuresValue {
      //width: 40%;
      input {
        width: 100%;
      }
      input[type="checkbox"] {
        width: 5%;
      }
    }
  }
  .futuresRighttHeaderSection {
    justify-content: flex-end;
    flex: 1;
    display: flex;
  }
  button {
    background: transparent;
    background: transparent;
    outline: none;
    border: none;
    color: #439bc1 !important;
    text-decoration: none;
    cursor: pointer;
    font-size: 13px;
  }
}
.futuresSaveAndCancelWrapper {
  text-align: right;
  width: 100%;
  border: none;
  background: #fff;
  button.mtCancel {
    margin-left: 11px;
  }
}
