.priceRepoDataExportContainer {
  button {
    border: 0.1em solid #ffffff;
    margin: 0 0.3em 0.3em 0;
    border-radius: 1.12em;
    background: #d1cfcf;
  }
}
.tabsContainer {
  padding-left: 70px;
}
.Dropdown-disabled,
input:disabled {
  cursor: default;
  background: #ccc;
  border-color: rgba(118, 118, 118, 0.3);
}
