.priceRepoConfigWrapper {
  width: 98%;
  margin-top: -12px;
  background: #fff;
  border-radius: 30px;
  padding: 5px 20px;
  box-sizing: border-box;
  button {
    background: transparent;
    outline: none;
    border: none;
    color: #439bc1 !important;
    text-decoration: none;
    cursor: pointer;
    font-size: 13px;
  }

  .ag-theme-alpine .ag-paging-panel > div {
    justify-content: flex-end;
    flex: 1;
  }
  .noOfRecs {
    justify-content: flex-end;
    display: flex;
    flex: 1;
  }
  /*   .ag-header-row.ag-header-row-column {
    height: 31px !important;
  } */
}
