.dowloadFilesWrapper {
  width: 50%;
  .deliveryClassLabelAndValue,
  .businessDateLabelAndValue,
  .runDateLabelAndValue {
    width: 100%;
    display: flex;
    margin-top: 7px;
    margin-left: 12px;
    .deliveryClassLabel,
    .businessDateLabel,
    .runDateLabel {
      width: 28%;
    }
    .deliveryClassValue,
    .businessDateValue,
    .runDateValue {
      width: 70%;
    }
  }
}
