@import "../../../../../../../light.scss";
.mtFilterscreenHeaderWrapper {
  display: flex;
  font-size: 14px;
  font-weight: bold;
  color: #000;
  margin-left: 3%;
  border: none;
  margin: 13px !important;
  .mtFilterscreenTitle {
    width: 90%;
    color: $black;
  }
  .mtToggle {
    width: 10%;
    color: $black;
    font-size: 12px;
    font-weight: bold;
    background: transparent;
    outline: none;
    border: none;
    color: #439bc1;
    text-decoration: none;
    cursor: pointer;
    font-size: 13px;
  }
}
