.mtFilterAndResetButtonWrapper {
  text-align: center;
  position: absolute;
  bottom: 13px;
  left: 26%;
}
#mtFilter-container {
  display: inline-block;
  margin-right: 10px !important;
}
#mtReset-container {
  display: inline-block;
}
