.atFilterAndResetButtonWrapper {
  text-align: center;
  position: relative;
}
#atFilter-container {
  display: inline-block;
  margin-right: 10px !important;
}
#atReset-container {
  display: inline-block;
}
