.atGridHeader {
  font-size: 14px;
  font-weight: bold;
  color: #000;
  margin-left: 3%;
  border: none;
  margin: 13px !important;
}
.atGridTitle {
  font-size: 12px;
  font-weight: bold;
  margin-left: 3%;
  margin: 13px !important;

  background: transparent;
  outline: none;
  border: none;
  color: #439bc1;
  text-decoration: none;
  cursor: pointer;
  font-size: 13px;
}

@media print {
  body * {
    visibility: hidden;
  }
  #myGrid,
  #myGrid * {
    visibility: visible;
  }
  #myGrid {
    position: absolute;
    left: 0;
    top: 0;
  }
}
