.ag-theme-alpine .ag-cell {
    line-height: 22px !important;
}

.ag-theme-alpine .ag-header-cell {
    background-color: #fff;
    color: #7c8da6;
    text-align: left;
    font-size: 11px;
    font-weight: bold;
}

.ag-theme-alpine .ag-paging-panel {
    justify-content: flex-start;
    height: 23px !important;
    background-color: #d6e4f2 !important;
}

.ag-theme-alpine .ag-paging-panel>div {
    justify-content: flex-end;
    flex: 1;
}

.ag-theme-alpine .ag-cell,
.ag-theme-alpine .ag-full-width-row .ag-cell-wrapper.ag-row-group {
    padding-left: 0px;
}

.ag-theme-alpine .ag-header-cell,
.ag-theme-alpine .ag-header-group-cell {
    padding-left: 0px;
}

.ag-header-cell-text {
    white-space: normal;
    padding-left: 3px;
}

.ag-theme-alpine .ag-rich-select-list {
    height: 47px;
    min-width: 100px;
}

.ag-popup-editor.ag-ltr.ag-popup-child {
    width: 100px;
}

.ag-theme-alpine .ag-row {
    font-size: 11px;
    background-color: #fff;
    color: #000;
    transform: none !important;
    height: 22px !important;
    position: relative;
}

.ag-theme-alpine .ag-row-selected {
    background-color: rgba(33, 150, 243, 0.3) !important;
    background-color: var(--ag-selected-row-background-color, rgba(33, 150, 243, 0.3)) !important;
}

.ag-theme-alpine .ag-header {
    border: none;
}

.peoLabelAndValue {
    width: 100%;
    display: flex;
    padding-top: 10px;
}

.peoLabel {
    width: 30%;
}

.peoValue {
    width: 70%;
}