@import "../../../../light.scss";
#mainVsv {
  .editDashboard {
    background: $white;
    border-radius: 30px;
    padding: 5px 20px;
    box-sizing: border-box;
    margin-top: 0.5em;
    height: 228px;
    border: none;
    .ag-theme-alpine {
      height: 201px !important;
      .ag-body-viewport.ag-layout-normal {
        overflow-y: scroll;
      }
      .ag-row {
        height: 25px !important;
        font-size: 11px;
      }
      // .ag-center-cols-viewport{
      //     height: 126px;
      // }
    }

    .mainscreenHeaderTitle {
      display: inline-block;
      font-size: 14px;
      font-weight: bold;
      color: $black;
      margin: 0px 0px 0px 15px;
    }
    .ag-root-wrapper-body {
      .ag-header {
        min-height: 22px !important;
      }
    }
    .ag-cell {
      line-height: 22px !important;
      left: 0px !important;
      position: relative;
    }
    .mainscreenTitleAndToggle {
      background: $white;
    }
  }
  .ag-theme-alpine .ag-root-wrapper {
    border: none;
  }
}
.toggle {
  display: flex;
  color: $white;
  justify-content: flex-end;
  flex: 1;
  position: relative;
  left: -8px;
  top: 2px;
  font-weight: bold;
  cursor: pointer;
  width: 2%;
}

.mainscreenTitleAndToggle {
  display: flex;
}
