#MainVsv {
  .filterAndResetButtonWrapper {
    text-align: center;
    position: relative;
  }
  #filter-container {
    display: inline-block;
    padding-right: 10px;
  }
  #reset-container {
    display: inline-block;
  }
}
