.peoGridHeader {
  font-size: 14px;
  font-weight: bold;
  color: #000;
  margin-left: 3%;
  border: none;
  margin: 13px !important;
}
.peoGridTitle {
  font-size: 12px;
  font-weight: bold;
  margin-left: 3%;
  margin: 13px !important;
  background: transparent;
  outline: none;
  border: none;
  color: #439bc1;
  text-decoration: none;
  cursor: pointer;
  font-size: 13px;
}
.messageAndNavigationWrapper {
  display: flex;
  background: transparent;
  outline: none;
  border: none;
  color: #439bc1 !important;
  text-decoration: none;
  cursor: pointer;
  font-size: 13px;
  .close {
    justify-content: flex-end;
    display: flex;
    flex: 1;
    .closeButton {
      background-color: transparent !important;
      color: #439bc1 !important;
    }
  }
}
.peoHeaderActions {
  display: flex;
  height: 36px;
  .peoLeftHeaderSection {
    display: flex;
    .peoLabelAndValue {
      display: flex;
      padding-top: 10px;
      background: transparent;
      background: transparent;
      outline: none;
      border: none;
      color: #439bc1 !important;
      text-decoration: none;
      cursor: pointer;
      font-size: 13px;
    }
    .peoLabel {
      //width: 30%;
    }
    .peoValue {
      //width: 40%;
      /*       input {
        width: 100%;
      }
      input[type="checkbox"] {
        width: 5%;
      } */
    }
    button {
      width: 70px;
      padding-right: 2px;
    }
    #save,
    #cancel {
      width: 40px;
    }
  }
  .peoRighttHeaderSection {
    justify-content: flex-end;
    flex: 1;
    display: flex;
  }
  button {
    background: transparent;
    background: transparent;
    outline: none;
    border: none;
    color: #439bc1 !important;
    text-decoration: none;
    cursor: pointer;
    font-size: 13px;
  }
  .corporateAction {
    width: 100%;
    //padding: 12px 20px;
    //margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
}
.peoSaveAndCancelWrapper {
  text-align: right;
  width: 100%;
  border: none;
  background: #fff;
  button.mtCancel {
    margin-left: 11px;
  }
}
