@import "../../../../../../light.scss";

.peoVolatalityOverrideContentWrapper {
    width: 400px;

    .wrapper {
        padding-left: 15px !important;
        margin-top: 20px;


        label {
            padding-right: 10px;

        }

        .clearFiled {}
    }

    .ag-header-cell-text {
        white-space: normal;
    }

    .stAddPriceResGrid {
        background: #fff;
        border-radius: 30px;
        padding: 5px 20px;
        box-sizing: border-box;
        border: none;

        .ag-theme-alpine .ag-header-cell {
            background-color: #fff;
            color: #7c8da6;
            text-align: left;
            font-size: 11px;
            font-weight: bold;
        }
    }

    .footer {
        text-align: center;
        padding-top: 15px;
    }

    .header {
        color: $black;
        font-weight: bold;
        margin-bottom: 10px;
    }

    button {
        display: inline-block;
        padding: 0.3em 1.2em;
        border: 0.1em solid #ffffff;
        margin: 0 0.3em 0.3em 0;
        border-radius: 0.12em;
        box-sizing: border-box;
        text-decoration: none;
        font-weight: 300;
        color: black;
        text-align: center;
        transition: all 0.2s;
    }

    textarea {
        resize: none;
    }

    textarea.ta10em {
        height: 10em;
    }

    legend {
        color: #7c8da6;
        font-size: 13px;
        font-weight: bold;
        text-transform: uppercase;
    }

    * {
        margin-top: 1px;
        padding-top: 1px;
    }

    .addButton {
        background-color: #fff;
    }
}