#mainPrs {
  .prsSymbolLabelAndInputWrapper,
  .prsCuspinLabelAndInputWrapper {
    display: flex;
  }
  .prsSymbolLabel,
  .prsCuspinLabel {
    width: 30%;
  }
  .prsSymbolInputWrapper,
  .prsCuspinInputWrapper {
    width: 50%;
  }
}
