.peoPriceEditGridHeader {
  font-size: 14px;
  font-weight: bold;
  color: #000;
  margin-left: 3%;
  border: none;
  margin: 13px !important;
}

.peoPriceEditGridTitle {
  font-size: 12px;
  font-weight: bold;
  margin-left: 3%;
  margin: 13px !important;
  background: transparent;
  outline: none;
  border: none;
  color: #439bc1;
  text-decoration: none;
  cursor: pointer;
  font-size: 13px;
}

.messageAndNavigationWrapper {
  display: flex;
  background: transparent;
  outline: none;
  border: none;
  color: #439bc1 !important;
  text-decoration: none;
  cursor: pointer;
  font-size: 13px;

  .close {
    justify-content: flex-end;
    display: flex;
    flex: 1;

    .closeButton {
      background-color: transparent !important;
      color: #439bc1 !important;
    }
  }
}

.peoPriceEditHeaderActions {
  display: flex;
  height: 36px;

  button {
    background: transparent;
    background: transparent;
    outline: none;
    border: none;
    color: #439bc1 !important;
    text-decoration: none;
    cursor: pointer;
    font-size: 10px;
  }

  #medium {
    width: 70px;
  }

  #big {
    width: 115px;
  }

  .peoPriceEditLeftHeaderSection {
    display: flex;

    #small {
      width: 45px;
    }

    .peoPriceEditLabelAndValue {
      display: flex;
      padding-top: 10px;
      background: transparent;
      background: transparent;
      outline: none;
      border: none;
      color: #439bc1 !important;
      text-decoration: none;
      cursor: pointer;
      font-size: 10px;
    }


  }

  .corporateAction {
    width: 60px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .peoPriceEditRighttHeaderSection {
    justify-content: flex-end;
    flex: 1;
    display: flex;
    padding-left: 0px;

    #small {
      width: 36px;

    }
  }
}

.peoPriceEditSaveAndCancelWrapper {
  text-align: right;
  width: 100%;
  border: none;
  background: #fff;

  button.mtCancel {
    margin-left: 11px;
  }
}