#mainVS,
#mainGov,
#mainVsv,
#mainPrs {
  display: flex;
  height: 768px;
  fieldset {
    border: none;
    margin-top: 7px;
    padding-left: 12px;
  }
}
#editMaint,
#prsEditMaint {
  width: 98%;
  height: 100%;
}
h2 {
  color: #000;
}
* {
  margin: 0;
  padding: 0;
}
.Dropdown-disabled,
input:disabled {
  cursor: default;
  background: #ccc;
  border-color: rgba(118, 118, 118, 0.3);
}
