#mainVS,
#mainGov,
#mainVsv,
#mainPrs {
  display: flex;
  height: 768px;
  fieldset {
    border: none;
    margin-top: 7px;
    padding-left: 12px;
  }
}
#editMaint,
#prsEditMaint {
  width: 98%;
  height: 90%;
}
h2 {
  color: #000;
}
* {
  margin: 0;
  padding: 0;
}
.Dropdown-disabled,
input:disabled {
  cursor: default;
  background: #ccc;
  border-color: rgba(118, 118, 118, 0.3);
}
@media print {
  body * {
    visibility: hidden;
  }
  #myGrid,
  #myGrid * {
    visibility: visible;
  }
  #myGrid {
    position: absolute;
    left: 0;
    top: 0;
  }
}
.ag-theme-alpine .ag-cell,
.ag-theme-alpine .ag-full-width-row .ag-cell-wrapper.ag-row-group {
  padding-left: 0px;
}
.ag-theme-alpine .ag-header-cell,
.ag-theme-alpine .ag-header-group-cell {
  padding-left: 0px;
}
