//colors

$background-color: #ecf1f4;
$black: #000;
$filterPanelBG: rgb(255, 255, 255);
$white: #fff;
$fpADRangeColor: rgb(0, 0, 0); //filter panel date range color
$fpADRTitleColor: rgb(124, 141, 166); //filter panel date range title color
$maint_header_btn_color: rgb(
  67,
  155,
  193
); // maintenance screen header button color
$maint_header_btn_color_hover: #faa71a;
$ag-grid-header-text-color: rgb(124, 141, 166);
$ag-grid-row-alt-color: rgb(243, 243, 243);
$ag-paging-panel-bgColor: #d6e4f2;

$btn_primary: #2e9fdf;
