#mainPrs {
  .labelAndProductTypeWrapper,
  .labelAndEditCatNameWrapper {
    display: flex;
  }
  .productTypeLabel,
  .editCatNameLabel {
    width: 30%;
  }
  .productTypeDropdownWrapper,
  .editCatNameDropdownWrapper {
    width: 50%;
  }
}
